.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 50px;

  padding: 140px 0 85px;
  flex-wrap: wrap;
}

.wrapper__photo img {
  min-width: 545px;
  width: 100%;
  max-width: 545px;
  height: 500px;
  transition: opacity 0.3s ease-in-out;
  object-fit: contain;
}

.wrapper__info {
  width: clamp(350px, 35vw, 500px);
  min-width: 400px;

  display: flex;
  flex-direction: column;
  position: relative;
  border-left: 3px solid #371b66;
}
.wrapper__info p {
  padding-left: 48px;

  display: flex;
  align-items: center;

  font-size: clamp(15px, 2.5vw, 24px);
  font-weight: 500;
  line-height: 100%;

  cursor: pointer;
  position: relative;
  background-color: transparent;
}

.background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: #421887;
  transition: top 0.3s ease-in-out;
}

.indicator {
  width: 25px;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  background-color: #a417e5;
  border-radius: 30px;
  transition: top 0.3s ease-in-out;
  z-index: 1;
}
@media (max-width: 840px) {
  .wrapper {
    grid-gap: 20px;
    padding: 80px 0 40px;
  }
  .wrapper__photo img {
    min-width: auto;
    max-width: 350px;
    max-height: 350px;
  }
  .wrapper__info {
    width: 70%;
    min-width: 320px;
  }
  .indicator {
    width: 18px;
  }
}
@media (max-width: 450px) {
  .wrapper {
    grid-gap: 10px;
  }
  .wrapper__info {
    min-width: auto;
    width: 80%;
  }
  .indicator {
    width: 15px;
  }
}
