.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	padding: 140px 0 85px;
	flex-wrap: wrap;
}

.wrapper__photo {
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 545px;
	height: 500px;
}

.wrapper__photo img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 545px;
	height: 500px;
	object-fit: contain;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.wrapper__photo img.active {
	opacity: 1;
}

.placeholder {
	width: 100%;
	max-width: 545px;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f0f0f0;
}

.wrapper__info {
	width: clamp(350px, 35vw, 500px);
	min-width: 400px;
	display: flex;
	flex-direction: column;
	position: relative;
	border-left: 3px solid #371b66;
}

.wrapper__info .direction {
	padding-left: 48px;
	display: flex;
	align-items: center;
	font-size: clamp(15px, 2.5vw, 24px);
	font-weight: 500;
	line-height: 100%;
	cursor: pointer;
	position: relative;
	background-color: transparent;
	transition: transform 0.2s ease-in-out;
	-webkit-transition: transform 0.2s ease-in-out;
}

.wrapper__info .direction:hover {
	transform: translateX(10px);
}

.background {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 0;
	background-color: #421887;
	transition: top 0.3s ease-in-out;
	-webkit-transition: top 0.3s ease-in-out;
}

.indicator {
	width: 25px;
	position: absolute;
	left: 0;
	transform: translateX(-50%);
	background-color: #a417e5;
	border-radius: 30px;
	transition: top 0.3s ease-in-out;
	-webkit-transition: top 0.3s ease-in-out;
	z-index: 1;
}

@media (max-width: 840px) {
	.wrapper {
		gap: 20px;
		padding: 80px 0 40px;
	}
	.wrapper__photo {
		max-width: 350px;
		max-height: 350px;
		height: auto;
	}
	.wrapper__photo img {
		max-width: 350px;
		max-height: 350px;
		height: auto;
		min-width: auto;
	}
	.wrapper__info {
		width: 70%;
		min-width: 320px;
	}
	.indicator {
		width: 18px;
	}
}

@media (max-width: 450px) {
	.wrapper {
		gap: 10px;
		min-height: 1000px;
	}
	.wrapper__photo {
		width: 90%;
		max-width: 340px;
		max-height: 350px;
		min-height: 350px;
	}
	.wrapper__photo img {
		width: 100%;
		max-width: 340px;
		max-height: 350px;
		height: auto;
		min-width: auto;
	}
	.wrapper__info {
		width: 80%;
		min-width: auto;
	}
	.indicator {
		width: 15px;
	}
}
