.footer {
  margin-top: 30px;
  background-color: #1b063e;
  /* width: 100vw;  ВСЕ СЛОМАЛО!👍 */
}

.footer_wrapper {
  padding: 10px;
  color: #fff;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.img {
  width: 180px;
  height: 160px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 55px;
  letter-spacing: 0%;
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contacts a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 55px;
  letter-spacing: 0%;
  color: #fff;
}
.UnderFooter p {
  color: #7e7e7e;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 5%;
  vertical-align: middle;
}
.UnderFooter {
  padding: 10px 0;
}

@media (max-width: 1024px) {
  .nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}
@media (max-width: 840px) {
  .footer_wrapper {
    flex-direction: column;
    grid-gap: 15px;
  }
  .nav {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
  }
  .nav a {
    text-align: center;
  }
  .contacts {
    align-items: center;
    grid-gap: 15px;
  }
  .img {
    width: 150px;
  }
}

@media (max-width: 450px) {
  .nav p {
    font-size: 16px;
  }
  .contacts a {
    font-size: 16px;
  }
}
