.homeCards {
  padding: 60px 0;
}
.homeCards__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 35px;
}
.homeCards__wrapper h2 {
  font-size: clamp(22px, 5vw, 48px);
  font-weight: 700;
  text-align: center;
}

.cards_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 539px;
  border-radius: 25px;
  background-color: #1b083e;
  overflow: hidden;
}

.card_img {
  position: relative;
  width: 100%;
  height: 372px;
}

.card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.card_overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  position: absolute;
  inset: 0;

  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.card:hover .card_img img {
  filter: blur(5px);
}
.card:hover .card_overlay {
  opacity: 1;
}

.overlay_content {
  text-align: center;
  padding: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto 10px;
}

.overlay_content h4 {
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 700;
}

.overlay_content p {
  margin-top: 10px;
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 500;
}

.card_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  grid-gap: 24px;
}

.card_text__tags p {
  font-size: clamp(14px, 1.5vw, 20px);
  padding: 15px 25px;
  background: #26104f;
  border-radius: 10px;
}

.card_text__title h3 {
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 700;
}

@media (max-width: 1280px) {
  .cards_container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .card {
    width: 100%;
    height: 430px;
  }
  .card_text {
    grid-gap: 18px;
  }

  .card_img {
    height: 286px;
  }

  .avatar {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 840px) {
  .cards_container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  .card {
    height: 400px;
  }

  .card_img {
    height: 260px;
  }

  .avatar {
    width: 60px;
    height: 60px;
  }

  .overlay_content {
    padding: 15px;
  }

  .card_text {
    gap: 15px;
  }

  .card_text__desc p {
    padding: 8px 15px;
  }
}

@media (max-width: 550px) {
  .cards_container {
    grid-template-columns: 1fr;
  }

  .card {
    width: 90%;
    height: 400px;
  }

  .card_img {
    height: 240px;
  }

  .avatar {
    width: 50px;
    height: 50px;
  }

  .overlay_content {
    padding: 10px;
  }

  .card_text {
    gap: 10px;
  }

  .card_text__desc p {
    padding: 6px 12px;
  }
}
